body {
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    color: white;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.55) 100%), 
    url(../images/background_bamboo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    image-rendering: pixelated;
    margin: 0;
}

header {
    padding: 2rem 5vw 0;
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 1vw 5vw 1vw;
    display: grid;
    column-gap: 5rem;
    grid-template-columns: 1.6fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    font-size: 0.8rem;
}

h1 {
    font-size: 0.88rem;
    font-weight: bold;
}

.blog {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.blogPosts {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-around;
}

.blogPosts > div {
    margin-right: auto;
}

.blogButtons {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

div > p:first-child {
    margin-bottom: 0.1rem;
}

.author {
    color: rgb(180, 180, 180);
    margin-top: 0;
}

.twitter {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.twitterPosts {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.twitterButtons {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.links {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.intro p {
    text-shadow: 1px 1px 3px #444;
    font-family: Istok Web, sans-serif;
    font-style: italic;
    margin: 0 0 0 1.65rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.3rem;
    padding: 0.3rem;
}

main {
    margin: 12vh 12vw 0;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.links {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}

.links img {
    transform: scale(0.78);
}

@media screen and (max-width: 600px) {
    header {
        padding: 2rem 3vw 0;
    }

    header img {
        transform: scale(0.9); 
    }
    
    main {
        margin: 10vh 5vw 0;
    }

    .intro img {
        width: 350px;
    }

    .intro p {
        margin: 0 0 0 0.3rem;
    }

    footer {
        height: 20vh;
        display: block;
        overflow:scroll;
        overflow-x:hidden;
    }

    .links {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}